@model DataRowCollection

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<a asp-controller="Admin"
   asp-action="AddProducts">
    <i class="fas fa-plus"></i> Add New Product
</a>

<table class="table table-condensed table-hover">
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Price</th>
        <th style="text-align:center;">Action</th>
    </tr>
    @foreach (DataRow row in Model)
    {
        <tr>
            <td>
                <a asp-route-id="@row["ProductID"]">
                    <img src="/FoodPics/@row["Picture"]"
                         width="150" height="90"
                         class="pull-left" style="padding-right: 5px;" />
                </a>
            </td>
            <td>@row["ProductName"]</td>
            <td>@row["Price"]</td>
            <td style="text-align: center;">
                <a asp-controller="Admin"
                   asp-action="DeleteProducts"
                   asp-route-id="@row["ProductID"]"
                   onclick="return confirm('Delete Product @row["ProductName"]')">
                    <i class="far fa-trash-alt"></i>
                </a> |
                <a asp-controller="Admin"
                   asp-action="UpdateProducts"
                   asp-route-id="@row["ProductID"]">
                    <i class="far fa-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>