@model List<MesahUser>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    @section ScriptSection{

    }

    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .table {
            padding: 5px, 10px, 0px;
        }
    </style>

</head>

<body>
    <h2 style="margin: 45px; font-family:Inter;">ALL USERS</h2>
    <a style=" margin: 10px;" asp-controller="Admin" asp-action="CreateUser">Create User</a>
    <div class="table">

        <table class="table table-condensed table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number (+65)</th>
                <th scope="col">Action</th>
            </tr>
            @foreach (MesahUser row in Model)
            {
                <tr>
                    <td>@row.UserId</td>
                    <td>@row.UserRole</td>
                    <td>@row.FullName</td>
                    <td>@row.Email</td>
                    <td>@row.Phone</td>
                    <td>
                        <a asp-controller="Admin"
                           asp-action="DeleteUser"
                           asp-route-id="@row.UserId"
                           onclick="return confirm('Delete User [@row.FullName]')">Delete</a>
                    </td>
                </tr>
            }
        </table>

    </div>
    

</body>

