@model List<MesahUser>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<head>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    @section ScriptSection{

    }

    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .table {
            padding:30px;
        }
            .table th {
                background-color: #EEEEEE;
            }
        #manager {
            background-color: #F0C415;
        }
    </style>

</head>

<body>
    <h2 style="margin: 45px; font-family:Inter;">ALL USERS</h2>
    <a style=" margin: 45px;" asp-controller="Admin" asp-action="CreateUser">Create User</a>
    <div class="table">

        <table class="table table-condensed table-hover">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Role</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number (+65)</th>
                <th scope="col">Action</th>
            </tr>
            @foreach (MesahUser row in Model)
            {
                <tr>
                    <td id="@row.UserRole">@row.UserId</td>
                    <td id="@row.UserRole">@row.UserRole</td>
                    <td id="@row.UserRole">@row.FullName</td>
                    <td id="@row.UserRole">@row.Email</td>
                    <td id="@row.UserRole">@row.Phone</td>
                    <td id="@row.UserRole">
                        <a asp-controller="Admin"
                           asp-action="DeleteUser"
                           asp-route-id="@row.UserId"
                           onclick="return confirm('Delete User [@row.FullName]')"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </table>

    </div>
    

</body>

